{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
<main>
    <section class="product_detail">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% include 'store/components/_product_slider.html' %}
                </div>
                <div class="col-md-6">
                    {% include 'store/components/_product_detail-info.html' %}

                    <p class="product_detail-guarantee">30 days return, free shipping</p>
                    <br>
                    {% if product.quantity > 0 %}
                    <a class="product_detail-buy_btn">ADD TO CART</a>
                    {% else %}
                    <a class="product_detail-buy_btn">SOON...</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>


    {% include 'store/components/_brand_info.html' %}


    {% include 'store/components/_customer_reviews.html' %}

    <div class="card text-center p-3">
        <p>
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseWidthExample"
                    aria-expanded="false" aria-controls="collapseWidthExample">
                Type comment
            </button>
        </p>
        <div style="min-height: 120px; margin: 0 auto;">
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
                <div class="card card-body" style="width: 500px;">
                    <form action="{% url 'save_review' product.pk %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ review_form.text }}
                        <button class="btn btn-success rounded" type="submit">Send comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="recommended_goods">
        <h2 class="product_detail-main-title text-center">You may also like</h2>

        <!-- PRODUCTS BLOCK START -->
        <div class="container">
            <div class="row">
                {% for product in products %}
                {% include 'store/components/_product_card.html' %}
                {% endfor %}
            </div>
        </div>
        <!-- PRODUCTS BLOCK END -->

    </div>


    <!-- BLOCK EMAIL FORM START -->
    {% include 'store/components/_email_form.html' %}
    <!-- BLOCK EMAIL FORM END -->
</main>
{% endblock main %}